
@{
    ViewData["Title"] = "All Students";
}

    <table id="admintable-students" class="table">
        <thead>
            <tr>
                <th>ID</th>
                <th>Name</th>
                <th>Department ID</th>
                <th>Action</th>
            </tr>
        </thead>
        <tbody>
        </tbody>
    </table>

