
@{
    ViewData["Title"] = "All Courses";
}

    <table id="admintable-courses" class="table">
        <thead>
            <tr>
                <th>Id</th>
                <th>Code</th>
                <th>Name</th>
                <th>Department</th>
                <th>Instructor</th>
                <th>Action</th>

            </tr>
        </thead>
        <tbody>
        </tbody>
    </table>

