@model UniversityManage.Model.StudentCourse;

@{
    ViewData["Title"] = "Delete Enrollment";
}


@if (Model != null)
{
    <h3>Delete student: @Model.StudentId - @Model.CourseId</h3>
    <a href="/admin/enrollment/ConfirmDeleteEnrollment?StudentId=@Model.StudentId&CourseId=@Model.CourseId" class="btn btn-outline-warning">Confirm</a>
    <a href="AllStudents" class="btn btn-outline-warning">Don't</a>
}

